# Enable after Phaetus Conch + 0.8 mm brass install
# Add to user.cfg: [include bfx_conch_0.8.cfg]

[extruder]
nozzle_diameter: 0.800
max_extrude_cross_section: 3.2
max_extrude_only_velocity: 120
pressure_advance: 0.040

[printer]
square_corner_velocity: 16

[pause_resume]
recover_velocity: 250