# Bryan Forge X mod_params defaults — merged into variables.cfg on first boot
# display: FEATHER=1 HEADLESS=2 STOCK=0

display = FEATHER
check_md5 = true
print_leveling = true
use_kamp = true
weight_check = true
weight_check_max = 2000
filament_switch_sensor = true
disable_priming = false
close_dialogs = 1
sound = false
camera = false
zssh = false